.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
    padding: 0 100px;
}

.nav-items{
    display: flex;
    align-items: center;
    margin: 0 100px;
}

.nav-items > ul{
    display: flex;
    list-style: none;
}

.nav-items > ul > li{
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}

.search{
    display: flex;
    justify-content: center;
    margin: 25px;
}

.search > .search-input{
    width: 250px;
    height: 35px;
    margin: 0 30px;
}

.res-card{
    border: 1px solid black;
    /* padding: 8px; */
    width: 300px;
    /* height: 400px; */
    margin: 10px 15px;
    align-items: center;
    text-align: center;
    background: #f0f0f0;
}

.res-card h4, h3{
    margin: 7px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 70px;
    
}

.res-img{
    width: 280px;
    cursor: pointer;
    height: 240px;
    margin: 10px;
}

.footer{
    height: 40px;
    width: 100%;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

.filter-btn{
    padding: 10px 10px;
    margin: 10px 20px; 
    cursor: pointer;
}